body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #130a01;
    color: rgb(239, 96, 19);
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #ed810c;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
